In [1]:

import warnings
warnings.filterwarnings("ignore")

In [2]:
ls

 combineNormalize.csv           data3.csv
 combine.xlsx                  'Data3 + Kmean 2 label-Copy1.ipynb'
 data_1024.csv                  data3_kmeans.labels_.csv
 data1.csv                      plot_kmeans_digits.ipynb
'Data1 + Kmean 2 label.ipynb'   README.md
 data2.csv                      results.csv
'Data2 + Kmean 2 label.ipynb'  'Siamak dataset - Kmean-06-30-2019.ipynb'
 data2_kmeans.labels_.csv

In [3]:
import pandas as pd
combineNormalize=pd.read_csv('combineNormalize.csv' )

In [4]:
combineNormalize.shape

(231, 769)

In [5]:
combineNormalize.head()

,RNFLT.1,RNFLT.2,RNFLT.3,RNFLT.4,RNFLT.5,RNFLT.6,RNFLT.7,RNFLT.8,RNFLT.9,RNFLT.10,...,RNFLT.760,RNFLT.761,RNFLT.762,RNFLT.763,RNFLT.764,RNFLT.765,RNFLT.766,RNFLT.767,RNFLT.768,Label
0,0.971429,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.983607,0.951613,0.936508,0.920635,0.906250,0.906250,0.921875,0.940299,0
1,0.914286,0.864865,0.831169,0.810127,0.768293,0.741176,0.729412,0.734940,0.746835,0.779221,...,0.983871,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.955224,0
2,0.685714,0.635135,0.610390,0.594937,0.548780,0.529412,0.505882,0.506024,0.506329,0.519481,...,0.822581,0.819672,0.822581,0.809524,0.793651,0.781250,0.765625,0.765625,0.716418,1
3,0.442857,0.405405,0.389610,0.379747,0.341463,0.329412,0.317647,0.313253,0.303797,0.311688,...,0.741935,0.737705,0.709677,0.682540,0.634921,0.593750,0.546875,0.531250,0.477612,0
4,0.514286,0.486486,0.467532,0.455696,0.439024,0.423529,0.411765,0.409639,0.405063,0.415584,...,0.693548,0.655738,0.645161,0.619048,0.603175,0.578125,0.578125,0.562500,0.537313,1

In [8]:
data_selection=combineNormalize.iloc[:,0:768].fillna(0)
data_selection.shape

(231, 768)

In [9]:
data_selection.head()

,RNFLT.1,RNFLT.2,RNFLT.3,RNFLT.4,RNFLT.5,RNFLT.6,RNFLT.7,RNFLT.8,RNFLT.9,RNFLT.10,...,RNFLT.759,RNFLT.760,RNFLT.761,RNFLT.762,RNFLT.763,RNFLT.764,RNFLT.765,RNFLT.766,RNFLT.767,RNFLT.768
0,0.971429,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.983607,0.951613,0.936508,0.920635,0.906250,0.906250,0.921875,0.940299
1,0.914286,0.864865,0.831169,0.810127,0.768293,0.741176,0.729412,0.734940,0.746835,0.779221,...,0.952381,0.983871,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.955224
2,0.685714,0.635135,0.610390,0.594937,0.548780,0.529412,0.505882,0.506024,0.506329,0.519481,...,0.825397,0.822581,0.819672,0.822581,0.809524,0.793651,0.781250,0.765625,0.765625,0.716418
3,0.442857,0.405405,0.389610,0.379747,0.341463,0.329412,0.317647,0.313253,0.303797,0.311688,...,0.746032,0.741935,0.737705,0.709677,0.682540,0.634921,0.593750,0.546875,0.531250,0.477612
4,0.514286,0.486486,0.467532,0.455696,0.439024,0.423529,0.411765,0.409639,0.405063,0.415584,...,0.730159,0.693548,0.655738,0.645161,0.619048,0.603175,0.578125,0.578125,0.562500,0.537313

In [10]:
X=data_selection.values

In [11]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=2, random_state=0).fit(X)
kmeans

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=0, tol=0.0001, verbose=0)

In [12]:
kmeans.labels_

array([0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1], dtype=int32)

In [13]:
from collections import Counter
print(Counter(kmeans.labels_).keys()) # equals to list(set(words))
print(Counter(kmeans.labels_).values()) # counts the elements' frequency

dict_keys([0, 1])
dict_values([158, 73])

In [14]:
import numpy
numpy.savetxt("Siamak_datasetÙ€Noramlize.csv", kmeans.labels_, delimiter=",")